@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model jjodel_persistence.Models.Dto.ChangePasswordRequest

<div class="container-fluid">
    <div class="row w-100 align-items-start">
        <div class="col-12 col-md-4 col-lg-4">
            <div class="card p-4 w-100 d-flex flex-column">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <i class="bi bi-person-circle text-primary fs-3"></i>
                    <h6 class="mb-0 fw-bold text-end flex-grow-1 ms-3">andreaperelli.95@gmail.com</h6>
                </div>

                <div class="mt-3">
                    <p class="mb-1">Email: andreaperelli.95@gmail.com</p>
                    <p class="mb-1">Cellulare: 3458793739</p>
                    <p class="mb-1">Location: Todo</p>
                </div>

                <div class="flex-grow-1"></div>

                <ul class="list-group list-group-flush mt-5  border-group-account">
                    <li class="list-group-item border-0 menu-hover fs-5 text-secondary">
                        <i class="bi bi-person-circle me-2"></i> Informazioni Personali
                    </li>
                    <li class="list-group-item border-0 menu-hover fs-5 text-secondary">
                        <i class="bi bi-shield-lock me-2"></i> Informazioni Account
                    </li>
                    <li class="list-group-item border-0 menu-hover fs-5 text-secondary">
                        <i class="bi bi-key me-2"></i> Cambia Password
                    </li>
                    <li class="list-group-item border-0 menu-hover fs-5 text-secondary">
                        <i class="bi bi-envelope me-2"></i> Notifiche Email
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-8">
            <div class="card p-4 p-md-5 w-100 d-flex flex-column">
                <div class="card-header">
                    <div class="card-title fw-bold">Change Password</div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                }

                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                {
                    <div class="card-body">
                        <div class="mb-3 d-flex align-items-center">
                            <label asp-for="UserName" class="form-label me-3" style="min-width: 150px;">Username</label>
                            <input asp-for="UserName" type="text" class="form-control input-hover">
                            <span asp-validation-for="UserName" class="text-danger ms-2"></span>
                        </div>

                        <div class="mb-3 d-flex align-items-center">
                            <label asp-for="OldPassword" class="form-label me-3" style="min-width: 150px;">Current Password</label>
                            <input asp-for="OldPassword" type="password" class="form-control input-hover">
                            <span asp-validation-for="OldPassword" class="text-danger ms-2"></span>
                        </div>

                        <div class="mb-3 d-flex align-items-center">
                            <label asp-for="Password" class="form-label me-3" style="min-width: 150px;">New Password</label>
                            <input asp-for="Password" type="password" class="form-control input-hover">
                            <span asp-validation-for="Password" class="text-danger ms-2"></span>
                        </div>

                        <div class="mb-3 d-flex align-items-center">
                            <label asp-for="PasswordConfirm" class="form-label me-3" style="min-width: 150px;">Confirm Password</label>
                            <input asp-for="PasswordConfirm" type="password" class="form-control input-hover">
                            <span asp-validation-for="PasswordConfirm" class="text-danger ms-2"></span>
                        </div>
                    </div>

                    <div class="card-footer text-start">
                        <button type="submit" class="btn btn-primary px-4 py-2">Change Password</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



