@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    ViewBag.Title = "Login";
}
@model jjodel_persistence.Models.Dto.LoginRequest

<div class="container d-flex justify-content-center align-items-center" style=" margin: auto 5px;">
        <div class="card p-4 p-md-5 shadow w-50">
            <h3 class="text-center mb-4">Accedi</h3>

           
            @using (Html.BeginForm("Login", "/Account", FormMethod.Post)) {
                @Html.AntiForgeryToken()
                   <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-3">
                    <div class="form-check mb-2 mb-md-0">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                <a href="/Account/ResetPassword" class="text-decoration-none">Forgot Password?</a>
                </div>

                <button type="submit" class="btn btn-primary w-100">Login</button>
           }
        </div>
</div>



 