@model jjodel_persistence.Models.Mail.Register
<h2>
    Registrazione Completata
</h2>
<p>
    Gentile @Model.Surname @Model.Name,

    la password per accedere alla piattaforma &egrave;: "@Model.Password".
    <br />
    <br />
    Grazie

</p>