@model jjodel_persistence.Models.Mail.ResetPassword
<h2>
    Reset Password
</h2>
<p>
    Gentile @Model.Username,

    la nuova password per accedere &egrave;: "@Model.NewPassoword".
    <br />
    <br />
    Grazie
</p>